<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="aboveAll">
    <style>


/* #154438 */
     body{
        overflow: hidden;
        background:url('/images/background-parent.png')  center center/cover;
     }
        .main{
            font-family:"Roboto";
            font-weight: 300;
            line-height: 1.5;
            width:60%;
            margin-top: 10%;
            left:20%;
            position: absolute;
            text-align: center;
            color: #fff;
            height:100vh;
            font-size:1rem;
           
           
        }
        
#Main-heading{
    color: #ffd876;
    position: absolute;
   margin-top: 5%;
   display: block;
left: 10%;
    font-weight: bolder;
    
    font-size: 2rem;
   
    
    font-family: Arial, Helvetica, sans-serif;
}
        section{
            
            /* background-color: red;
             */
             border-radius: 40px;
            height:60vh;
            /* position: absolute; */
            
            width:70%;
            border: 4px dotted #fff;
            margin-top: 10%;
          
    margin-top: 10%;
   
    margin-left:15%;


       
        }
      
        @media (max-width: 768px) {
            .main{
                width:60%;
                left:20%;
            }
section{
    height:90vh;
}


        }
       
    </style>
    <link rel="stylesheet" href="style_common.css">
    <section id = "#section-parent">
    
    <h2 id = "Main-heading">ABOUT US</h2>
    <div class="main">

        Welcome to Kashvi Creation, where tradition meets modern elegance. As a premium manufacturer of exclusive designer studio sarees, we take pride in blending timeless craftsmanship with contemporary aesthetics.

At Kashvi Creation, every saree is more than just an outfit—it’s a story of culture, artistry, and sophistication. Our collection is thoughtfully designed to celebrate the beauty of every occasion, from grand festivities to intimate gatherings. With a commitment to quality and innovation, we ensure that each piece reflects exquisite craftsmanship, intricate detailing, and superior fabrics.

Our passion lies in catering to diverse customer preferences, offering a curated selection that embraces heritage while embracing modern trends. Whether you seek a regal traditional drape or a chic fusion design, Kashvi Creation brings you a perfect harmony of grace and glamour.

Step into the world of Kashvi Creation, where elegance is redefined with every weave.

</div>
</section>

</div>
</body>
</html>
