<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Error</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
           
            
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #333;
        }
        .main {
            background: #333;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
            
            text-align: center;
            border: 2px solid #ff4c4c;
        }
        h1 {
            color: #ff4c4c;
            font-size: 22px;
            text-transform: uppercase;
            font-family: Arial, sans-serif;
        }

        a{
            text-decoration: none;
            color:#fff;
            position: absolute;
            top:60%;
            font-family:'Courier New', Courier, monospace;
            font-weight: 100;

        }
        a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Incorrect Username or Password</h1>
    </div>

    
    <a href="/"><h3>Main Page</h3></a>
</body>
</html>
